@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-family: "JetBrains Mono", monospace;
  --color-default: blue;
  --color-secundary: rgb(255, 121, 121);
  --color-alternative: black;
  --bg: #080808;

  --text-size-title: 30px;
  --text-size-subtitle: 25px; 
  --text-size-description: 16px;

  --card-height: 350px;
  --card-width: 250px;
  --rotate: 132deg;
}
h1 {
    font-size: var(--text-size-title);
}
h2 {
    font-size: var(--text-size-subtitle);
}
p {
    font-size: var(--text-size-description);
}
body, html {
  background: var(--bg);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

/*card list stats */
.container_cardstats{
  display: flex;
  gap: 30px;
}
.cardstats{
  box-shadow: 10px 10px 20px black;
  border-radius: 10px;
}
.container_cardstats ul li {
  position: relative;
}
.dotted{
  position: absolute;
  left: -9px;
  top: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@media (max-width:450px) {
  .content_skills{
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
  .content_lang ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-item.hidden {
  display: none;
}

.active-portfolio {
  font-weight: bold;
  color: rgb(104, 119, 252);
}

#projects ul li a {
  border: 2px solid black;
  padding: 7px 12px;
  background-color: #121212;
}

.devicon_ {
  font-size: 25px;
}

/* Estilização base do container de portfólio */
.portfolio-container {
  display: grid;
  gap: 1rem;
}

.btn_go:hover {
  box-shadow: 0px 20px 25px #3d1818;
  background-color: rgb(173, 1, 1);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 12px 0px rgba(1, 4, 192, 0.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 3 */
.btn-3 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.component {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

blockquote {
  background:
    linear-gradient(to right, #039be5 6px, transparent 4px) 0 100%,
    linear-gradient(to left, #039be5 6px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #039be5 6px, transparent 4px) 100% 0,
    linear-gradient(to top, #039be5 6px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* -- create the quotation marks -- */
blockquote:before,
blockquote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #039be5;
  font-size: 34px;
}

blockquote:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

blockquote:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}




.project {
  border: 1px solid var(--gray);
  margin: 18px 6px;
}
.project__links {
  display: flex;
  gap: 0.8rem;
}
.project__image {
  border-bottom: 1px solid var(--gray);
  aspect-ratio: 16/9;
}
.project__content {
  padding: 1rem;
}
.project__name {
  font-size: 2rem;
  font-weight: 600;
}
.project__description {
  color: var(--gray);
  padding: 1.5rem 0;
  margin-bottom: 1.2rem;
  margin: 2px 0;
}
.project__techs {
  background: var(--gray-op);
  color: var(--primary);
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  gap: 0.8rem 1.6rem;
  padding: 2px;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
}
.project:hover {
  box-shadow: 1rem;
  transform: scale(1.04);
  transition: transform 0.15s ease-in;
}

.project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .project-list {
    align-items: start;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-top: 4.8rem;
  }
}

.skill-block {
  border: 1px solid var(--gray);
  display: inline-block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 30rem;
  min-width: 200px;
}
.skill-block__name {
  background: var(--gray-op);
  border-bottom: 1px solid var(--gray);
  color: var(--gray);
  font-weight: 700;
  padding: 0 1rem;
}
.skill-block__listz {
  align-items: start;
  color: var(--gray);
  display: block;
  flex-wrap: wrap;
  font-weight: 600;
  gap: 0.8rem;
  justify-content: start;
}

.skill-arrow {
  color: var(--gray);
  margin: 0 0.2rem;
}

@media (max-width: 500px) {
  .skill-block {
    border: 1px solid var(--gray);
    margin-bottom: 1.6rem;
    max-width: 100%;
    width: 100%;
  }
}
